@using MyShop.Entity.DTOS
@model List<OrderDetailsDto>

<head>
	<link href="/css/OrderDetails.css" rel="stylesheet" />
</head>

<body>

	<section class="h-100 gradient-custom">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-10 col-xl-8">
					<div class="card" style="border-radius: 10px;">
						
						<div class="card-body p-4">
							
							@foreach (var orderDetail in Model)
							{
								<div class="card shadow-0 border mb-4">
									<div class="card-body">
										<div class="row">
											<div class="col-md-2">
												<img src="~/@orderDetail.productDTO.Image"
													 class="img-fluid" alt="Phone">
											</div>
											<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
												<p class="text-muted mb-0">@orderDetail.productDTO.Name</p>
											</div>
											<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
												<p class="text-muted mb-0 small">Description: @orderDetail.productDTO.Description</p>
											</div>
											<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
												<p class="text-muted mb-0 small">Qty: @orderDetail.Count</p>
											</div>
											<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
												<p class="text-muted mb-0 small">@orderDetail.productDTO.Price</p>
											</div>
										</div>
									</div>
								</div>
							
							}
						</div>
							
					</div>
						
				</div>
			</div>
		</div>
	</section>
</body>
